<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/BrokerConnectHome-1.css">
    <script src="../static/js/BrokerConnectHome-1.js"></script>
    <title>Home</title>
</head>

<body>
    <nav class="BrokerConnect-Mobile-Nav">
        <div class="BrokerConnect-Nav-Button">
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
        </div>
        <div></div>
        <div></div>
        <img class="BrokerConnect-Profile" src="../static/image/Dhiraj.jpg" alt="">
        <div>Listings</div>
        <div></div>
        <div></div>
        <div class="BrokerConnect-Nav-filter">
            <div class="BrokerConnect-Nav-filter-First"></div>
            <div class=" BrokerConnect-Nav-filter-Second"></div>
            <div class="BrokerConnect-Nav-filter-Third"></div>
        </div>
    </nav>

    <section class="BrokerConnect-Section">
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
        <div class="BrokerConnect-Housing-data"><img class="BrokerConnect-Img" src="../static/image/Dhiraj.jpg" alt="">
        </div>
    </section>

    <footer class="BrokerConnect-footer">
        <ul>
            <img src="../static/image/Search-1.png" alt="">
            <li>Listings</li>
        </ul>
        <ul>
            <img src="../static/image/User-1.png" alt="">
            <li>Profile</li>
        </ul>
    </footer>
</body>

</html>