<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/BrokerConnectHome-1.css">
    <script src="../static/js/BrokerConnectHome-1.js"></script>
    <title>Home</title>
</head>

<body>
    <nav class="BrokerConnect-Mobile-Nav">
        <div class="BrokerConnect-Nav-Button">
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
        </div>
        <div></div>
        <div></div>
        <img class="BrokerConnect-Profile" src="../static/image/Dhiraj.jpg" alt="">
    </nav>

    <ul class="BrokerConnect-List">
        <li class="BrokerConnect-Location">
            <img src="../static/image/Location.png" alt="">
            <div>Sitamarhi</div>
            <img class="BrokerConnect-Arrow" src="../static/image/Arrow.png" alt="">
        </li>
        <li class="BrokerConnect-Filter">
            <img src="../static/image/filter.png" alt="">
            <div>Filter</div>
        </li>
    </ul>
    <footer class="BrokerConnect-footer">
        <ul>
            <img src="../static/image/Search.png" alt="">
            <li>Listing</li>
        </ul>
        <ul>
            <img src="../static/image/User.png" alt="">
            <li>Profile</li>
        </ul>
    </footer>
</body>

</html>