<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/BrokerConnectLogin.css" />
    <script src="../static/js/BrokerConnectLogin.js"></script>
    <title>Profile</title>
</head>

<body>
    <section class="BrokerConnect-Home-Sign-In-Section">
        <form action="">
            <div>Let Dive In</div>
            <div class="BrokerConnect-Home-Input">
                <input type="text" required>
                <label for="">Email</label>
            </div>
            <div class="BrokerConnect-Home-Input">
                <input type="text" required>
                <label for="">Password</label>
            </div>
            <button type="button" class="BrokerConnect-Home-Button">Sign In</button>
            <div style="text-align: center;">Forgotten password?</div>
            <hr style="border: none; border-top: 1px solid #dadde1;">
            <button type="button" class="BrokerConnect-Home-Button">Sign Up</button>
        </form>
    </section>
    <section class="BrokerConnect-Home-filter-Section">
        <div>✕</div>
        <form>
            <div class="BrokerConnect-Home-Text">
                <div class="BrokerConnect-Home-Nav-filter">
                    <div class="BrokerConnect-Home-Nav-filter-First"></div>
                    <div class=" BrokerConnect-Home-Nav-filter-Second"></div>
                    <div class="BrokerConnect-Home-Nav-filter-Third"></div>
                </div>It's quick and easy.
            </div>
            <div class="BrokerConnect-Home-Input">
                <input type="text" required>
                <label for="">Name</label>
                <ul>
                </ul>
            </div>
            <div class="BrokerConnect-Home-Input">
                <input type="text" required>
                <label for="">Gender</label>
            </div>
            <div class="BrokerConnect-Home-Input">
                <input type="text" required>
                <label for="">Date of birth</label>
            </div>
            <div class="BrokerConnect-Home-Input">
                <input type="text" required>
                <label for="">Email</label>
            </div>
            <div class="BrokerConnect-Home-Input">
                <input type="text" required>
                <label for="">Mobile</label>
            </div>
            <div class="BrokerConnect-Home-Input">
                <input type="text" required>
                <label for="">Password</label>
            </div>
            <div class="BrokerConnect-Home-Input">
                <textarea rows="2" required></textarea>
                <label for="">Address</label>
            </div>
            <button type="button" class="BrokerConnect-Home-Button">Sign Up</button>
        </form>
    </section>
</body>

</html>