<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/BrokerConnectPasswordUpdate.css" />
    <script src="../static/js/BrokerConnectPasswordUpdate.js"></script>
    <title>Password Update</title>
</head>

<body>
    <section class="BrokerConnect-Login-Section BrokerConnect-Login-Sign-In-Section">
        <form>
            <div class="BrokerConnect-Login-Input">
                <input type="password" required>
                <label for="">New Password</label>
                <ul>
                    <!-- <li>UUYGUGU</li> -->
                </ul>
            </div>
            <div class="BrokerConnect-Login-Input">
                <input type="password" required>
                <label for="">Confirm Password</label>
            </div>
            <button type="button" class="BrokerConnect-Login-Button BrokerConnect-Login-Sign-In">Sign In</button>
        </form>
    </section>

    <section
        class="BrokerConnect-Login-Section BrokerConnect-Login-Sign-Out-Success BrokerConnect-Login-Sign-Out-Section-Toggle">
        <div>Verify Your email</div>
    </section>
</body>

</html>