<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/BrokerConnectHome-1.css">
        <script src="../static/js/BrokerConnectHome-1.js"></script>
        <title>Home</title>
</head>

<body>
        <nav class="BrokerConnect-Home-Mobile-Nav">
                <div class="BrokerConnect-Home-Nav-Button">
                        <div class=""></div>
                        <div class=""></div>
                        <div class=""></div>
                </div>
                <div></div>
                <div></div>
                <img class="BrokerConnect-Home-Profile" src="../static/image/Dhiraj.jpg" alt="">
                <div>Listings</div>
                <div></div>
                <div></div>
                <div class="BrokerConnect-Home-Nav-filter">
                        <div class="BrokerConnect-Home-Nav-filter-First"></div>
                        <div class=" BrokerConnect-Home-Nav-filter-Second"></div>
                        <div class="BrokerConnect-Home-Nav-filter-Third"></div>
                </div>
        </nav>

        <section class="BrokerConnect-Home-Section">
                <!-- <div class="BrokerConnect-Home-Housing-data">
                        <img src="../static/image/Dhiraj.jpg" alt="">
                        <div>
                                <div>
                                        <div><img src="../static/image/Location-1.png" alt="">Chankyapuri Mela Road
                                                Bhavadepur sitamarhi, Bihar</div>
                                </div>
                                <div>
                                        <div>3200sqft</div>
                                        <hr>
                                        <div>2BHK</div>
                                        <hr>
                                        <div>Rent</div>
                                </div>
                        </div>
                </div> -->
        </section>

        <section class="BrokerConnect-Home-filter-Section BrokerConnect-Home-filter-Section-Toggle">
                <div>✕</div>
                <form>
                        <div class="BrokerConnect-Home-Text">
                                <div class="BrokerConnect-Home-Nav-filter">
                                        <div class="BrokerConnect-Home-Nav-filter-First"></div>
                                        <div class=" BrokerConnect-Home-Nav-filter-Second"></div>
                                        <div class="BrokerConnect-Home-Nav-filter-Third"></div>
                                </div>Filter
                        </div>
                        <div class="BrokerConnect-Home-Input">
                                <input type="text" required>
                                <label for="">State</label>
                                <ul>
                                </ul>
                        </div>
                        <div class="BrokerConnect-Home-Input">
                                <input type="text" required>
                                <label for="">District</label>
                        </div>
                        <div class="BrokerConnect-Home-Input">
                                <input type="text" required>
                                <label for="">Property Type</label>
                        </div>
                        <div class="BrokerConnect-Home-Input">
                                <input type="text" required>
                                <label for="">Query Type</label>
                        </div>
                        <div class="BrokerConnect-Home-Input">
                                <input type="text" required>
                                <label for="">BHK</label>
                        </div>
                        <div class="BrokerConnect-Home-Input">
                                <input type="text" required>
                                <label for="">Area (sqft)</label>
                        </div>
                        <button type="button" class="BrokerConnect-Home-Button">Show Result</button>
                </form>
        </section>

        <div style="height: 51px;"></div>
        <footer class="BrokerConnect-Home-footer">
                <a href="/officialHome">
                        <img src="../static/image/Search-1.png" alt="">
                        <li>Listings</li>
                </a>
                <a href="officialProfile">
                        <img src="../static/image/User-1.png" alt="">
                        <li>Profile</li>
                </a>
        </footer>
</body>

</html>