<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/BrokerConnectHome.css">
    <script src="../static/js/BrokerConnectHome.js"></script>
    <title>Home</title>
</head>

<body>
    <nav class="BrokerConnect-Nav">
        <div class="BrokerConnect-Mobile-Nav">
            <a href="/">
                <div class="BrokerConnect-CompanyTag">BroConnect</div>
                <div class="BrokerConnect-CompanySubTag">Let's start</div>
            </a>
            <div></div>
            <div></div>
            <div class="BrokerConnect-Nav-Button">
                <div class=""></div>
                <div class=""></div>
                <div class=""></div>
            </div>
        </div>
        <div></div>
        <div></div>
        <ul class="BrokerConnect-List">
            <li class="BrokerConnect-Location">
                <img src="../static/image/Location.png" alt="">
                <div>Sitamarhi</div>
                <img class="BrokerConnect-Arrow" src="../static/image/Arrow.png" alt="">
            </li>
            <hr class="BrokerConnect-Horiental">
            <li class="BrokerConnect-Filter">
                <img src="../static/image/filter.png" alt="">
                <div>Filter</div>
            </li>
            <hr>
            <li class="BrokerConnect-Profile"><img src="../static/image/Dhiraj.jpg" alt=""></li>
        </ul>
    </nav>
    <main>
        <ul class="BrokerConnect-Flex">
            <li class="BrokerConnect-Flex-item">All</li>
            <li class="BrokerConnect-Flex-item">Apartment</li>
        </ul>

        <ul class="BrokerConnect-Flex">
            <li class="BrokerConnect-Flex-item BrokerConnect-Estate">All</li>
            <li class="BrokerConnect-Flex-item BrokerConnect-Estate">Apartment</li>
        </ul>
        <ul class="BrokerConnect-Flex">
            <li class="BrokerConnect-Flex-item">Featured Apartment</li>
        </ul>
        <ul class="BrokerConnect-Flex">
            <li class="BrokerConnect-Flex-item BrokerConnect-Estate">All</li>
            <li class="BrokerConnect-Flex-item BrokerConnect-Estate">Apartment</li>
        </ul>
    </main>

</body>

</html>