<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/BrokerConnectLogin.css" />
    <script src="../static/js/BrokerConnectLogin.js"></script>
    <title>Login</title>
</head>

<body>
    <section class="BrokerConnect-Login-Section BrokerConnect-Login-Sign-In-Section">
        <form>
            <div>Let Dive In</div>
            <div class="BrokerConnect-Login-Input">
                <input type="email" required>
                <label for="">Email</label>
                <ul>
                    <!-- <li>UUYGUGU</li> -->
                </ul>
            </div>
            <div class="BrokerConnect-Login-Input">
                <input type="password" required>
                <label for="">Password</label>
            </div>
            <button type="button" class="BrokerConnect-Login-Button BrokerConnect-Login-Sign-In">Sign In</button>
            <div class="BrokerConnect-Login-Forgot">Forgotten password?</div>
            <hr />
            <button type="button" class="BrokerConnect-Login-Button BrokerConnect-Login-Sign-Out">Sign Up</button>
        </form>
    </section>

    <section
        class="BrokerConnect-Login-Section BrokerConnect-Login-Sign-Out-Section BrokerConnect-Login-Sign-Out-Section-Toggle">
        <div class="BrokerConnect-Login-Corner">✕</div>
        <form>
            <div>It's quick and easy.</div>
            <div class="BrokerConnect-Login-Input">
                <input type="text" required>
                <label for="">Name</label>
            </div>
            <div class="BrokerConnect-Login-Input">
                <input type="text" required>
                <label for="">Gender</label>
            </div>
            <div class="BrokerConnect-Login-Input">
                <input type="text" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" required>
                <label for="">Date of birth</label>
            </div>
            <div class="BrokerConnect-Login-Input">
                <input type="email" required>
                <label for="">Email</label>
            </div>
            <div class="BrokerConnect-Login-Input">
                <input type="text" required>
                <label for="">Mobile</label>
            </div>
            <div class="BrokerConnect-Login-Input">
                <input type="text" required>
                <label for="">Password</label>
            </div>
            <div class="BrokerConnect-Login-Input">
                <textarea rows="2" required></textarea>
                <label for="">Address</label>
            </div>
            <button type="button" class="BrokerConnect-Login-Button BrokerConnect-Login-Sign-Out">Sign Up</button>
        </form>
    </section>
    <section
        class="BrokerConnect-Login-Section BrokerConnect-Login-Sign-Out-Success BrokerConnect-Login-Sign-Out-Section-Toggle">
        <div>Verify Your email</div>
    </section>
</body>

</html>