<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Consideration.css">
    <title>Consideration</title>
</head>

<body>
    <article class="FlareSens-article-1">
        <img src="../static/image/logo.jpg" alt="">
        <h1>General Fire Audit Report</h1>
        <div class="FlareSens-status">
            <div>Name</div>
            <p>Status</p>
        </div>
        <div class="FlareSens-overview">
            <div class="FlareSens-container">
                <div>Score</div>
                <p>81%</p>
            </div>
            <div class="FlareSens-container">
                <div>Flagged items</div>
                <p>4</p>
            </div>
            <div class="FlareSens-container">
                <div>Actions</div>
                <p>0</p>
            </div>
        </div>
        <div class="FlareSens-client">
            <div>Client</div>
            <p>Blue Whirl Building</p>
        </div>
        <div class="FlareSens-detail">
            <div>Site</div>
            <div class="FlareSens-value">
                <p>
                    Main Building A
                </p>
            </div>
        </div>
        <div class="FlareSens-detail">
            <div>Location</div>
            <div class="FlareSens-value">
                <p>1029 McLean Ave, Dallas, TX 75211, USA</p>
            </div>
        </div>
        <div class="FlareSens-detail">
            <div>Visit</div>
            <div class="FlareSens-value">
                <p>21.03.2023 10:00 PST</p>
            </div>
        </div>
        <div class="FlareSens-detail">
            <div>Prepared by</div>
            <div class="FlareSens-value">
                <p>Cheena Hortaleza</p>
            </div>
        </div>
    </article>

    <article class="FlareSens-article-2">
        <div class="FlareSens-item">
            <div class="FlareSens-item-heading">
                <div>Post Fire Event Audit</div>
                <p>3 flagged, 0 flagged</p>
            </div>
            <div class="FlareSens-item-list">
                <div class="FlareSens-Audit-Type">
                    <div>Section</div>
                </div>
                <div class="FlareSens-Considerations">
                    <div class="FlareSens-Consideration">
                        <div>Missing or defective smoke stop doors, defective door hinges or broken glazing.</div>
                        <span class="green-span">Yes</span>
                    </div>
                    <p>Fire doors are dented on the edge.</p>
                    <p>Fire doors are dented on the edge.</p>
                    <img src="../static/image/Untitled.png" alt="">
                    <p>Photo 1</p>
                </div>
            </div>
        </div>
        <div class="FlareSens-completion">Completion</div>
        <div class="FlareSens-title">Full Name and Signature of Inspector</div>
        <div class="FlareSens-Signature">
            <div>Name</div>
            <div>Time</div>
            <img src="../static/image/download.png" alt="">
        </div>
    </article>
</body>

</html>