<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Base.css">
    <link rel="stylesheet" href="../static/css/Dashboard.css">
    <link href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" rel="stylesheet" />
    <script src="../static/js/Dashboard.js"></script>
    <title>Dashboard</title>
</head>

<body>
    <main class="FlareSens-main">
        <section class="FlareSens-Section-1">
            <p>Acknowledged</p>
            <img src="https://via.placeholder.com/48x48" />
        </section>

        <section class="FlareSens-Section-2">
            <article class="FlareSens-Article-1">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14027.989845389739!2d77.3037217!3d28.4796231!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cddead80e06c3%3A0xd03cfdf82b0b5835!2sSterling%20Gtake%20E-Mobility%20Ltd.!5e0!3m2!1sen!2sin!4v1702193564662!5m2!1sen!2sin"
                    id="map" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>

            <article class="FlareSens-Article-2">
                <p id="address" data-address="{{ project.site_address }}">
                    Address - 12/2, NH-19, Sector 27, Faridabad, Haryana 121003
                </p>
                <p>Type - Commercial</p>
            </article>
        </section>

        <section class="FlareSens-Section-3">
            <button class="FlareSens-Button">
                <p>Get Directions To Location</p>
            </button>

            <button class="FlareSens-Button">
                <p>Water Sources</p>
                <p class="FlareSens-Indicator">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="blurDotWS">
                            <path d="M 12 6 A 6 6 0 0 0 6 12 A 6 6 0 0 0 12 18 A 6 6 0 0 0 18 12 A 6 6 0 0 0 12 6 z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="dotWS">
                            <path d="M 12 6 A 6 6 0 0 0 6 12 A 6 6 0 0 0 12 18 A 6 6 0 0 0 18 12 A 6 6 0 0 0 12 6 z" />
                        </svg>
                    </span>
                </p>
            </button>
        </section>

        <section class="FlareSens-Section-4">
            <div>
                <button type="button" onClick="window.location.href='/dashboard'">
                    <i class="fa-solid fa-house"></i>
                    <p>Dashboard</p>
                </button>
            </div>
            <div>
                <button type="button" onClick="window.location.href='/site'">
                    <i class="fa-solid fa-house-fire"></i>
                    <p>Site</p>
                </button>
            </div>
            <div>
                <button type="button" onClick="window.location.href='/update'">
                    <i class="fa-solid fa-retweet"></i>
                    <p>Updates</p>
                </button>
            </div>
            <div class="FlareSens-RemoveBorder">
                <button type="button" onClick="window.location.href = '/call'">
                    <i class="fas fa-phone"></i>
                    <p>Call</p>
                </button>
            </div>
        </section>
    </main>
</body>

</html>