<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Base.css">
    <link rel="stylesheet" href="../static/css/Dashboard.css">
    <link href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" rel="stylesheet" />
    <script src="../static/js/Dashboard.js"></script>
    <title>Dashboard</title>
</head>

<body>
    <main class="FlareSens-main">
        <section class="FlareSens-Section-1">
            <p>Acknowledged</p>
            <img src="https://via.placeholder.com/48x48" />
        </section>

        <section class="FlareSens-Section-2">
            <article class="FlareSens-Article-1">
                <div id="wemap" data-cord="{{ project.location_coordinates }}"></div>
            </article>

            <article class="FlareSens-Article-2">
                <p id="address" data-address="{{ project.site_address }}">
                    Address - Vikas Mall ITBP Rd, Indira Nagar Colony Rd, Vasant
                    Vihar, Dehradun, Uttarakhand 248001
                </p>
                <p>Type - Commercial</p>
            </article>
        </section>

        <section class="FlareSens-Section-3">
            <button class="FlareSens-Button">
                <p>Get Directions To Location</p>
            </button>

            <button class="FlareSens-Button">
                <p>Water Sources</p>
                <p class="FlareSens-Indicator">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            class="w-6 h-6 fill-green-400 blur-sm" id="blurDotWS">
                            <path d="M 12 6 A 6 6 0 0 0 6 12 A 6 6 0 0 0 12 18 A 6 6 0 0 0 18 12 A 6 6 0 0 0 12 6 z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            class="w-6 h-6 fill-green-500 absolute top-0 z-10" id="dotWS">
                            <path d="M 12 6 A 6 6 0 0 0 6 12 A 6 6 0 0 0 12 18 A 6 6 0 0 0 18 12 A 6 6 0 0 0 12 6 z" />
                        </svg>
                    </span>
                </p>
            </button>
        </section>

        <section class="FlareSens-Section-4">
            <div>
                <button type="button" onClick="window.location.href = 'tel:+918683868231'">
                    <i class="fas fa-phone"></i>
                    <p>Call</p>
                </button>
            </div>
            <div>
                <button type="button" onClick="window.location.href='tel:102'">
                    <i class="fas fa-ambulance"></i>
                    <p>Ambulance</p>
                </button>
            </div>
            <div>
                <button type="button" onClick="visitFloor('{{ event }}')">
                    <i class="fas fa-layer-group"></i>
                    <p>Floormap</p>
                </button>
            </div>
            <div>
                <button type="button" onClick="gotomap('{{ event }}')">
                    <i class="fas fa-map-location-dot"></i>
                    <p>Map</p>
                </button>
            </div>
        </section>
    </main>
</body>

</html>