<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Base.css">
    <link rel="stylesheet" href="../static/css/Updates.css">
    <link href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" rel="stylesheet" />
    <script src="../static/js/Updates.js"></script>
    <title>Updates</title>
</head>

<body>
    <main class="FlareSens-main">
        <section class="FlareSens-Section-1">
            <p>Acknowledged</p>
            <img src="" />
        </section>

        <section class="FlareSens-Section-2">
            <article class="FlareSens-Article-1">
                <div class="FlareSens-Heading">
                    <p>Checklist</p>
                </div>
                <div class="FlareSens-List">
                    <div>
                        <li>Assess the situation</li>
                        <p>Done</p>
                    </div>
                    <div>
                        <li>Establish the safe parameter</li>
                        <p>Done</p>
                    </div>
                    <div>
                        <li>Establish the safe parameter</li>
                        <p>Done</p>
                    </div>
                </div>
            </article>
            <article class="FlareSens-Article-2">
                <div class="FlareSens-Heading">
                    <p>Updates</p>
                </div>

            </article>
            <article class="FlareSens-Article-3">
                <input type="file" accept="image/*, video/*" capture>
            </article>
        </section>

        <section class="FlareSens-Section-4">
            <div>
                <button type="button" onClick="window.location.href='/dashboard'">
                    <i class="fa-solid fa-house"></i>
                    <p>Dashboard</p>
                </button>
            </div>
            <div>
                <button type="button" onClick="window.location.href='/site'">
                    <i class="fa-solid fa-house-fire"></i>
                    <p>Site</p>
                </button>
            </div>
            <div>
                <button type="button" onClick="window.location.href='/update'">
                    <i class="fa-solid fa-retweet"></i>
                    <p>Updates</p>
                </button>
            </div>
            <div class="FlareSens-RemoveBorder">
                <button type="button" onClick="window.location.href = '/call'">
                    <i class="fas fa-phone"></i>
                    <p>Call</p>
                </button>
            </div>
        </section>
    </main>
</body>

</html>