.FlareSens-main {
    display: flex;
    flex-direction: column;
    gap: calc(6px + .8vw);
    height: 100%;
    height: 100vh;
    height: 100dvh;
    padding: 0.5rem;
    background-color: var(--color-selection-dark);
}


.FlareSens-Section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FlareSens-Section-1>p {
    padding: .375rem calc(16px + 1vw);
    font-size: calc(25px + 0.8vw);
    font-weight: 800;
    background-color: var(--color-selection-light);
    opacity: .75;
    color: black;
    border: 4px solid rgb(55, 65, 81);
    border-radius: 0.5rem;
}

.FlareSens-Section-1>img {
    width: calc(45px + 1.2vw);
    height: calc(45px + 1.2vw);
    border: 2px solid var(--color-selection-light);
    border-radius: 50%;
}


.FlareSens-Section-2 {
    display: grid;
    gap: calc(3px + .4vw);
    grid-template-rows: max-content auto;
    flex-grow: 1;
}

@media (min-width: 768px) {
    .FlareSens-Section-2 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 1fr;
    }
}

.FlareSens-Section-2>.FlareSens-Article-1 {
    border: 4px solid rgb(220 38 38);
    border-radius: .25rem;
    order: 1;
}

@media (min-width: 768px) {
    .FlareSens-Section-2>.FlareSens-Article-1 {
        grid-column: span 2;
        order: -9999;
    }
}

.FlareSens-Section-2>.FlareSens-Article-1>iframe {
    height: 100%;
    width: 100%;
}

.FlareSens-Section-2>.FlareSens-Article-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding: 0 .5rem;
    border: 2px solid rgb(148 163 184);
    border-radius: .5rem;
}

@media (min-width: 768px) {
    .FlareSens-Section-2>.FlareSens-Article-2 {
        height: 60%;
    }
}

.FlareSens-Section-2>.FlareSens-Article-2>p {
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    color: var(--color-selection-light);
    background-color: rgb(71 85 105);
    border-radius: .25rem;
    padding: .25rem;
}


.FlareSens-Section-3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(3px + .4vw);
    border: 2px solid rgb(148 163 184);
    border-radius: .25rem;
    padding: calc(3px + .4vw);
}

.FlareSens-Button {
    display: flex;
    justify-content: space-between;
    --buttom-shadow: calc(4px + 0.3vw);
    margin-bottom: var(--buttom-shadow);
    padding: .5rem;
    box-shadow: 0px var(--buttom-shadow) 0px 0px #64748b;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    background-color: rgb(71 85 105);
    transition: all ease 0.2s;
    cursor: pointer;
}

.FlareSens-Button:hover {
    background-color: rgb(51 65 85);
}

.FlareSens-Button:active {
    transform: translateY(var(--buttom-shadow));
    box-shadow: 0px 0px 0px 0px #64748b;
}

.FlareSens-Section-3>.FlareSens-Button>p:first-child {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: var(--color-selection-light);
}

@media (min-width: 640px) {
    .FlareSens-Section-3>.FlareSens-Button>p:first-child {
        padding-left: 1vw;
    }
}

.FlareSens-Indicator {
    display: flex;
}

.FlareSens-Indicator>span {
    position: relative;
}

.FlareSens-Indicator>span>svg {
    width: 1.5rem;
    height: 1.5rem;
}

.FlareSens-Indicator>span>svg:first-child {
    fill: #500000;
    filter: blur(.25rem);
}

svg.FlareSens-AddColor {
    fill: #4ade80 !important;
}

.FlareSens-Indicator>span>svg:last-child {
    fill: #c90000;
    position: absolute;
    left: 0;
    z-index: 10;
}

svg.FlareSens-BlurColor {
    fill: #22c55e !important;
}

.FlareSens-Section-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    border-radius: .5rem;
    background-image: linear-gradient(to top, #1f2937, #475569);
    border: 1px solid white;
}

.FlareSens-Section-4>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}

.FlareSens-Section-4>div.FlareSens-RemoveBorder {
    border-right: none;
}

.FlareSens-Section-4>div>button {
    font-size: calc(14px + .3vw);
    font-weight: 700;
    padding: 0.25rem;
    background-color: transparent;
    color: rgb(241 245 249);
    border: none;
    outline: none;
    cursor: pointer;
}