/* ------------------------------Base Code----------------------------- */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&display=swap');

.web-footer,
.navbar {
    display: none;
}

:root {
    /* Variable */
    --color-selection-light: white;
    --color-selection-dark: #461959;
}

html {
    /* Base Property */
    font-size: 16px;
}

* {
    /* Common Property */
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Inconsolata', monospace; */
}

body {
    background: white;
}

::selection {
    background: var(--color-selection-light);
    color: var(--color-selection-dark);
}


/* ---------------------Code Start Here------------------------ */

.BrokerConnect-Mobile-Nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    background-color: black;
    color: white;
    font-size: 1.4rem;
}

.BrokerConnect-Nav-Button {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.BrokerConnect-Nav-Button div {
    border: 2px solid white;
    width: 1.5rem;
}

.BrokerConnect-Profile {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.BrokerConnect-Filter {
    height: 1.5rem;
}

.BrokerConnect-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding-top: .25rem;
    background-color: black;
    color: white;
    font-size: .75rem;
}

.BrokerConnect-footer ul {
    list-style: none;
    flex: 1 1 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.BrokerConnect-footer ul img {
    background-color: white;
    width: 2rem;
}