/* ------------------------------Base Code----------------------------- */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

.web-footer,
.navbar {
    display: none;
}

:root {
    /* Variable */
    --color-selection-light: white;
    --color-selection-dark: black;
    --color-footer-dark: #1b1b1b;
    --color-line-section: #80808040;
}

html {
    /* Base Property */
    font-size: 16px;
}

* {
    /* Common Property */
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color-selection-light);
}

body {
    background-color: var(--color-selection-dark);
}

::selection {
    background: var(--color-selection-light);
    color: var(--color-selection-dark);
}


/* ---------------------Code Start Here------------------------ */

.BrokerConnect-Home-Mobile-Nav {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(0, 1fr)) 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 1rem;
    padding: .5rem;
    font-size: 1.4rem;
}

.BrokerConnect-Home-Nav-Button {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.BrokerConnect-Home-Nav-Button div {
    border: 2px solid var(--color-selection-light);
    width: 1.5rem;
}

.BrokerConnect-Home-Profile {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.BrokerConnect-Home-Nav-filter {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.BrokerConnect-Home-Nav-filter-First {
    border: 1px solid var(--color-selection-light);
    width: 1.5rem;
}

.BrokerConnect-Home-Nav-filter-Second {
    border: 1px solid var(--color-selection-light);
    width: 1rem;
}

.BrokerConnect-Home-Nav-filter-Third {
    border: 1px solid var(--color-selection-light);
    width: .5rem;
}

.BrokerConnect-Home-Section {
    display: flex;
    flex-flow: column;
    border-top: 1px solid var(--color-line-section);
}

.BrokerConnect-Home-Housing-data {
    flex: 0 0 auto;
    border-bottom: 1px solid var(--color-line-section);
    display: flex;
    align-items: start;
    padding: .5rem;
}

.BrokerConnect-Home-Housing-data>img {
    flex: 0 0 auto;
    height: 6rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: gray;
}

.BrokerConnect-Home-Housing-data>div>div>div>img {
    height: .85rem;
    padding-right: .25rem;
}

.BrokerConnect-Home-Housing-data>div>div {
    display: flex;
    gap: .5rem;
    padding-left: .5rem;
}

.BrokerConnect-Home-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding-top: .25rem;
    background-color: var(--color-footer-dark);
    font-size: .6rem;
}

.BrokerConnect-Home-footer ul {
    list-style: none;
    flex: 1 1 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 0;
}

.BrokerConnect-Home-footer ul img {
    background-color: var(--color-selection-light);
    width: 2rem;
}