/* ------------------------------Base Code----------------------------- */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

.web-footer,
.navbar {
    display: none;
}

:root {
    /* Variable */
    --color-selection-light: white;
    --color-selection-dark: black;
    --color-footer-dark: #1b1b1b;
    --color-line-section: #80808040;
}

html {
    /* Base Property */
    font-size: 16px;
}

* {
    /* Common Property */
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color-selection-light);
}

body {
    background-color: var(--color-selection-dark);
}

::selection {
    background: var(--color-selection-light);
    color: var(--color-selection-dark);
}

/* ---------------------Code Start Here------------------------ */

.BrokerConnect-Home-Mobile-Nav {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(0, 1fr)) 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 1rem;
    padding: .5rem;
    font-size: 1.4rem;
}

.BrokerConnect-Home-Nav-Button {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.BrokerConnect-Home-Nav-Button div {
    border: 2px solid var(--color-selection-light);
    width: 1.5rem;
}

.BrokerConnect-Home-Profile {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.BrokerConnect-Home-Nav-filter {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.BrokerConnect-Home-Nav-filter-First {
    border: 1px solid var(--color-selection-light);
    width: 1.5rem;
}

.BrokerConnect-Home-Nav-filter-Second {
    border: 1px solid var(--color-selection-light);
    width: 1rem;
}

.BrokerConnect-Home-Nav-filter-Third {
    border: 1px solid var(--color-selection-light);
    width: .5rem;
}

.BrokerConnect-Home-Section {
    display: flex;
    flex-flow: column;
    border-top: 1px solid var(--color-line-section);
}

.BrokerConnect-Home-Housing-data {
    flex: 0 0 auto;
    border-bottom: 1px solid var(--color-line-section);
    display: flex;
    align-items: start;
    padding: .5rem;
}

.BrokerConnect-Home-Housing-data>img {
    flex: 0 0 auto;
    height: 4.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: gray;
}

.BrokerConnect-Home-Housing-data>div>div>div>img {
    height: .85rem;
    padding-right: .25rem;
    vertical-align: initial;
}

.BrokerConnect-Home-Housing-data>div>div {
    display: flex;
    gap: .5rem;
    padding-left: .5rem;
    text-align: justify;

}

.BrokerConnect-Home-Housing-data>div>div>hr {
    margin: 0;
    border: 1px solid white;
    height: initial;
}

.BrokerConnect-Home-filter-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #ffffffd0;
    transform-origin: left;
    transition: transform .3s ease;
}

.BrokerConnect-Home-filter-Section-Toggle {
    transform: scaleX(0);
}

.BrokerConnect-Home-filter-Section>div {
    position: absolute;
    right: .75rem;
    top: .75rem;
    font-size: 1.4rem;
    line-height: 1;
    color: black;
    cursor: pointer;
}

.BrokerConnect-Home-filter-Section>form {
    background-color: black;
    display: flex;
    flex-flow: column;
    gap: .5rem;
    padding: .5rem;
    width: 80%;
    border-radius: .25rem;
}

.BrokerConnect-Home-Text {
    display: flex;
    justify-content: end;
    gap: .25rem;
    font-size: 1.4rem;
    margin-bottom: .25rem;
}

.BrokerConnect-Home-Input {
    display: flex;
}

.BrokerConnect-Home-Input>label {
    position: absolute;
    transform: translate(.5rem, .75rem);
    font-size: 1.5rem;
    line-height: 1;
    pointer-events: none;
    transition: all 0.3s ease;
}

.BrokerConnect-Home-Input>input:focus~label,
.BrokerConnect-Home-Input>input:valid~label {
    transform: translate(.5rem, .25rem);
    font-size: .75rem;
}

.BrokerConnect-Home-Input>input {
    background-color: black;
    height: 3rem;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid white;
    padding: .75rem .5rem .25rem;
    font-size: 1rem;
}

.BrokerConnect-Home-Input ul {
    list-style: none;
    position: absolute;
    transform: translate(0, 3rem) scaleY(1);
    max-height: 135px;
    width: calc(80% - 1rem);
    overflow: auto;
    transform-origin: top;
    transition: transform 0.3s ease 0.3s;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.BrokerConnect-Home-Input ul li {
    flex-grow: 1;
    min-width: 50%;
    background: black;
    color: white;
    border-radius: .25rem;
    padding: .25rem .5rem;
    border: 1px solid white;
    cursor: pointer;
}

.BrokerConnect-Home-Input input:not(:focus)~ul {
    transform: translate(0, 3rem) scaleY(0);
}

.BrokerConnect-Home-Button {
    background-color: black;
    width: max-content;
    padding: .5rem;
    margin-top: .5rem;
    border: 1px solid white;
    border-radius: .25rem;
    font-size: 1rem;
    cursor: pointer;
}

.BrokerConnect-Home-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding-top: .25rem;
    background-color: var(--color-footer-dark);
    font-size: .6rem;
}

.BrokerConnect-Home-footer a {
    list-style: none;
    flex: 1 1 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
}

.BrokerConnect-Home-footer a img {
    background-color: var(--color-selection-light);
    width: 2rem;
}