/* ------------------------------Base Code----------------------------- */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600&display=swap');

.web-footer,
.navbar {
    display: none;
}

:root {
    /* Variable */
    --color-light: white;
    --color-light-nearby: #93B1A6;
    --color-dark: black;
    --color-Sign-In: #1877f2;
    --color-Sign-Out: #00a400;
    ;
}

html {
    /* Base Property */
    font-size: 16px;
    height: 100%;
}

* {
    /* Common Property */
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color-light);
}

body {
    background-color: var(--color-dark);
}

.body-overflow-hidden {
    overflow: hidden;
}

::selection {
    background: var(--color-light);
    color: var(--color-dark);
}

/* -----------------------Common Code-------------------------- */

.BrokerConnect-Login-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 100dvh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.BrokerConnect-Login-Section>form {
    background-color: var(--color-dark);
    display: flex;
    flex-flow: column;
    gap: .75rem;
    padding: .5rem;
    width: min(80%, 350px);
    border-radius: .25rem;
    border: 1px solid var(--color-light);
}

.BrokerConnect-Login-Input {
    display: flex;
}

.BrokerConnect-Login-Input>input,
.BrokerConnect-Login-Input>textarea {
    background-color: var(--color-dark);
    width: 100%;
    border-radius: .25rem;
    border: 1px solid var(--color-light);
    padding: .5rem .75rem .5rem;
    font-size: 1rem;
}

.BrokerConnect-Login-Input>label {
    position: absolute;
    transform: translate(.5rem, .75rem);
    font-size: 1rem;
    line-height: 1;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: var(--color-dark);
    padding: 0 .25rem;
    color: var(--color-light);
    font-weight: 200;
}

.BrokerConnect-Login-Input>input:focus~label,
.BrokerConnect-Login-Input>input:valid~label,
.BrokerConnect-Login-Input>textarea:focus~label,
.BrokerConnect-Login-Input>textarea:valid~label {
    transform: translate(.5rem, -0.5rem);
    font-size: .75rem;
    color: var(--color-light-nearby);
    font-weight: 400;
}

.BrokerConnect-Login-Input>input:focus,
.BrokerConnect-Login-Input>input:valid,
.BrokerConnect-Login-Input>textarea:focus,
.BrokerConnect-Login-Input>textarea:valid {
    border: 1px solid var(--color-light-nearby);
}

.BrokerConnect-Login-Button {
    width: 100%;
    padding: .5rem;
    border: 1px solid var(--color-light);
    border-radius: .25rem;
    font-size: 1rem;
    cursor: pointer;
}

.BrokerConnect-Login-Sign-In {
    background-color: var(--color-Sign-In);
}

.BrokerConnect-Login-Sign-Out {
    background-color: var(--color-Sign-Out);
}

.BrokerConnect-Login-Input ul {
    list-style: none;
    position: absolute;
    transform: translate(0, 3rem) scaleY(1);
    max-height: 135px;
    width: min(calc(80% - 1rem - 2px), calc(350px - 1rem - 2px));
    overflow: auto;
    transform-origin: top;
    transition: transform 0.3s ease 0.3s;
    box-shadow: 2px 2px 5px var(--color-light-nearby), -2px 2px 5px var(--color-light-nearby);
}

.BrokerConnect-Login-Input ul li {
    background: var(--color-dark);
    color: var(--color-light-nearby);
    border-radius: .25rem;
    padding: .25rem .75rem;
    border: 1px solid var(--color-light-nearby);
    cursor: pointer;
}

.BrokerConnect-Login-Input input:not(:focus)~ul {
    transform: translate(0, 3rem) scaleY(0);
}

/* ---------------------Code Start Here------------------------ */

.BrokerConnect-Login-Sign-In-Section {
    background-color: var(--color-dark);
}

.BrokerConnect-Login-Forgot {
    text-align: center;
    cursor: pointer;
    color: var(--color-Sign-In);
}

.BrokerConnect-Login-Forgot:hover {
    text-decoration: underline;
}

.BrokerConnect-Login-Section form hr {
    border: none;
    border-top: 1px solid var(--color-light);
    margin: .5rem 0;
}

.BrokerConnect-Login-Sign-Out-Section {
    background-color: #ffffff40;
    transform-origin: left;
    transition: transform .3s ease;
    z-index: 2;
}

.BrokerConnect-Login-Sign-Out-Section-Toggle {
    transform: scaleX(0);
}

.BrokerConnect-Login-Input>textarea {
    resize: none;
    overflow: visible;
}

.BrokerConnect-Login-Sign-Out-Section>.BrokerConnect-Login-Corner {
    position: absolute;
    right: .75rem;
    top: .75rem;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--color-dark);
    cursor: pointer;
}

.BrokerConnect-Login-Sign-Out-Success {
    background-color: var(--color-dark);
    transform-origin: left;
    transition: transform .3s ease;
    z-index: 2;
}